.section-title-box {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: end;
}

.section-title-box lightning-input {
    flex: 1;
}

.section-title-box lightning-button {
    flex-shrink: 0;
    margin-left: 10px;

}

.custom-icon {
    --sds-c-icon-color-text: red;
}

.file-input{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    margin-top: 5px;
}

.logo-title-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.header-image {
    width: 35px;
    height: auto;
}             